/* ==========================================================================
 * Base
 * ========================================================================== */


body {
  font-family: 'Quicksand';
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-size: $header-font-size;
  font-family: $header-font-family;
}

a {
  color: #000;

  &:hover {
    color: $main-action-color;
  }
}
