/* ==========================================================================
 * Layout
 * ========================================================================== */


.l-section {


      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      width: 100%;
      min-height: calc(100vh - 130px - 200px); /* to account for page header and banner (80px + 50px) and footer (200px) unless using full-screen modifier below*/

      @media screen and (min-width: 500px) {
      min-height: calc(100vh - 140px - 200px); /* to account for page header and banner at this screen size and above (90px + 50px) and footer (200px) unless using full-screen modifier below*/
    }

    @media screen and (min-width: 650px) {
    min-height: calc(100vh - 160px - 200px); /* to account for page header and banner at this screen size and above (110px + 50px) and footer (200px) unless using full-screen modifier below*/
  }


      &--fullscreen {
        @include align-items(center);
        min-height: 100vh;
      }

}

.l-container {
      @include grid-container;
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;

}

.l-main {
    position: relative; /* necessary so .h-fade animation absolute positioning does not cover header */
}
