/* ==========================================================================
 * Layout
 * ========================================================================== */
 body {
   overflow: hidden;
 }

.l-section {
      @include outer-container();
      @include display(flex);
      min-height: 100vh;

      @media screen and (min-width: 500px) {
           @include justify-content(center);
         }
}

.l-container {
      @include span-columns(12);
      border: 1px solid #ccc;

      @media screen and (min-width: 500px) {
           @include span-columns(10);
         }
}
