/* ==========================================================================
 * Layout
 * ========================================================================== */


.l-section {

      // @include grid-container;
      @include display(flex);
      @include align-items(center);
      min-height: 100vh;
      width: 100%;

}

.l-container {
      @include grid-container;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
}

.l-main {
    position: relative; /* necessary so .h-fade animation absolute positioning does not cover header */
}
