<div class="l-section l-section--fullscreen">
    <div class="l-container">
        <div class="c-hero">
          <div class="c-hero__media">
            <div class="c-home-images">
            <div class="c-home-images__photo"></div>
            <div class="c-home-images__banner"></div>
            <div class="c-home-images__logo"></div>
          </div>
          </div>
            <div class="c-hero__headline">
              <div class="c-hero-title">
                <h1 class="c-hero-title__name">Julia Donaldson</h1>
                <h2 class="c-hero-title__description">developer | designer</h2>
              </div>
            </div>
            <div class="c-hero__content">
              <div class="c-hero__menu-wrapper">
                <jd-social-media data-modifier="--home"></jd-social-media>
                <jd-menu data-modifier="--home"></jd-menu>
             </div>
            </div>
        </div>
    </div>
</div>
