<div class="l-section">
    <!-- <h3>Testing Home</h3>
  <a data-ui-sref="main.work">Work</a> -->
    <div class="l-container">
        <div class="c-hero">
            <img class="c-hero__photo" src="./assets/img/hero_headshot.jpg" alt="Julia Donaldson">
            <img class="c-hero__banner" src="./assets/img/hero_banner.png" alt="">
            <img class="c-hero__logo" src="./assets/img/hero_logo.png" alt="Julia">
        
            <h1 class="c-hero__name">Julia Donaldson</h1>
            <h2 class="c-hero__title">developer | designer</h2>
            <div class="c-hero__content">
              <jd-social-media></jd-social-media>
            </div>
        </div>
    </div>
</div>
</div>
