<div class="l-section">
    <div class="l-container">
        <div class="c-hero">
          <div class="c-hero__image">
            <div class="c-home-images">
            <div class="c-home-images__photo"></div>
            <div class="c-home-images__banner"></div>
            <div class="c-home-images__logo"></div>
          </div>
          </div>
            <div class="c-hero__headline">
              <div class="c-title c-title--hero">
                <h1 class="c-title__name">Julia Donaldson</h1>
                <h2 class="c-title__description">developer | designer</h2>
              </div>
            </div>
            <div class="c-hero__content">
              <jd-home-menu></jd-home-menu>
            </div>
        </div>
    </div>
</div>
