.c-banner {
    min-height: 80px;
    background-color: lightgrey;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 40px;
    padding-top: 40px;


    &__headline {
        width: 80%;
        margin-bottom: -3px;
        /* removes gap between svg letters and banner bottom border */
        margin-right: 10px;
        @media screen and (min-width: 500px) {
            width: auto;
        }

        svg {
            fill: white;
            // max-height: 110px;
            @media screen and (min-width: 500px) {
                height: 110px;
                width: auto;
            }
        }
    }
}
