.c-banner {
    width: 100%;
    min-height: 80px;
    background-color: lightgrey;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 50px; /* change min-height of .l-section class if this number changes! must match .c-header height */


    &__headline {
        width: 80%;
        margin-bottom: -3px;
        /* removes gap between svg letters and banner bottom border */
        margin-right: 10px;
        @media screen and (min-width: 500px) {
            width: auto;
        }

        svg {
            fill: white;

            @media screen and (min-width: 500px) {
                height: 110px; /* change min-height of .l-section class if this number changes! */
                width: auto;
            }
        }
    }

    &__headline--large {
      width: 90%;
      @media screen and (min-width: 500px) {
          width: 90%;
      }
      @media screen and (min-width: 650px) {
          width: auto;
      }

      svg {
          // fill: white;

          @media screen and (min-width: 500px) {
              height: auto;
          }

          @media screen and (min-width: 650px) {
              height: 110px; /* change min-height of .l-section class if this number changes! */
              width: auto;
          }
      }

    }


}
