.c-contact {
  padding: 40px 0;

  &__form-message {
    @include grid-column;
    text-align: center;
    font-size: $header-font-size;
    color: $main-action-color;

      &--has-error {
        color: red;
      }
  }

  &__form {
    @include grid-column;

    @media screen and (min-width: 600px) {
    @include grid-column(10);
    @include grid-shift(1);
  }
    @media screen and (min-width: 1100px) {
    @include grid-column(8);
    @include grid-shift(2);
  }
}

  &__form-btn {
    float: right;
  }

}
