.c-footer {
  width: 100%;
  height: 200px; /* change min-height of .l-section class if this number changes! */
  background: linear-gradient(white, pink);
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(center);
  &__copyright {
    color: #888;
    font-size: 12px;
    float: right;
  }
}
