.c-hero {
    position: relative;
    
    &__image {
      top: 15px;
      position: absolute;
      width: 100%;
      @include display(flex);
      @include justify-content(center);
    }

    &__headline {
      top: 350px;
      position: absolute;
      width: 100%;
      @include display(flex);
      @include justify-content(center);

      @media screen and (min-width: 700px) {
        top: 500px;
      }
    }


    &__content {
      position: absolute;
      top: 410px;
      width: 100%;
      @include display(flex);
      @include justify-content(center);

      @media screen and (min-width: 700px) {
        top: 270px;
        // @include justify-content(flex-start);
      }
    }


}
