.c-home-images {
  position: relative;
  width: 290px;

  @media screen and (min-width: 400px) {
    width: 335px;
  }

  @media screen and (min-width: 700px) {
    width: 660px; /* combined width of .c-home-images__photo and .c-home-images__banner at this screen size */
  }

  @media screen and (min-width: 1100px) {
    width: 775px; /* combined width of .c-home-images__photo and .c-home-images__banner at this screen size */
  }

  &__photo, &__banner, &__logo {
    transition: ease;
    transition-property: all;
    transition-duration: 0.5s;
  }


  &__photo {
    background-image: url('../../assets/img/hero_headshot.jpg');
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 25px;
    width: 200px;
    height: 263px;
    z-index: 2;

    @media screen and (min-width: 400px) {
      height: 302px;
      width: 230px;
      right: 35px;
    }

    @media screen and (min-width: 700px) {
      height: 430px;
      width: 325px;
      right: 0;
      top: 0;
    }

    @media screen and (min-width: 1100px) {
      height: 464px;
      width: 350px;
      right: 0;
      top: 0;
    }
  }

  &__banner {
    background-image: url('../../assets/img/hero_banner.png');
    background-size: cover;
    position: absolute;
    right: 0;
    top: 25px;
    width: 290px;
    height: 190px;
    z-index: 1;

    @media screen and (min-width: 400px) {
      width: 335px;
    }

    @media screen and (min-width: 700px) {
      right: 325px; /* width of .c-home-images__photo at this screen size */
      top: 50px;
    }

    @media screen and (min-width: 1100px) {
      width: 425px;
      right: 350px; /* width of .c-home-images__photo at this screen size */
      top: 50px;
    }

  }

  &__logo {
    background-image: url('../../assets/img/hero_logo.png');
    background-size: cover;
    position: absolute;
    right: 20px;
    top: 245px;
    width: 240px;
    height: 80px;
    z-index: 3;

    @media screen and (min-width: 400px) {
      height: 90px;
      width: 270px;
      right: 50px;
      top: 270px;
    }

    @media screen and (min-width: 700px) {
      height: 132px;
      width: 400px;
      right: 0;
      top: 353px;
    }

    @media screen and (min-width: 1100px) {
      height: 149px;
      width: 450px;
      right: 0;
      top: 375px;
    }

  }
}
