.c-hero {
    // margin-top: 10%;
    position: relative;


    &__photo {
      position: absolute;
      right: 15px;
      top: 25px;
      width: 200px;
      z-index: -1;
    }

    &__banner {
      position: absolute;
      right: 0;
      top: 25px;
      width: 290px;
      z-index: -2;
    }

    &__logo {
      position: absolute;
      right: 20px;
      top: 245px;
      width: 240px;
    }

    &__headline {
      top: 325px;
      position: absolute;
      width: 100%;
      @include display(flex);
      @include justify-content(center);
    }


    &__content {
      position: absolute;
      top: 390px;
      width: 100%;
      @include display(flex);
      @include justify-content(center);
    }


}
