.c-header {
  background-color: #000;
  height: 50px; /* change .c-banner top padding, change min-height of .l-section class, and change .c-desktop-nav height if this number changes! */
  padding-left: 10px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;



  &__menu-icon {
    height: 100%;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
      svg {
        fill: #fff;
      }

      &:hover {
        color: $nav-action-color;
      }

      &:hover svg {
        fill: $nav-action-color;
      }

      @media screen and (min-width: 700px) {
        display: none;
      }
  }

  &__menu-icon-text {
    display: inline;
    margin-left: 5px;
    font-family: 'Overpass Mono';

    @media screen and (min-width: 700px) {
      display: none;
    }
  }

}
