.c-hero {
    margin-top: calc(100vh/8);
    position: relative;

    &__image {
      top: 0;
      position: absolute;
      width: 100%;
      @include display(flex);
      @include justify-content(center);
    }

    &__headline {
      top: 325px;
      position: absolute;
      width: 100%;
      @include display(flex);
      @include justify-content(center);

      @media screen and (min-width: 700px) {
        top: 500px;
      }
    }


    &__content {
      position: absolute;
      top: 390px;
      width: 100%;
      @include display(flex);
      @include justify-content(center);

      @media screen and (min-width: 700px) {
        top: 565px;
      }
    }


}
