.c-menu {
      &__links {
        font-family: 'Overpass Mono';
        list-style: none;
        padding: 0;

          li {
            font-size: 18px;
          }
      }

    &--nav {
        &__links {
            margin: 10px 0;
            li {
              margin: 15px 0;
            }
            a {
              color: #fff;
              &:hover {
                color: $nav-action-color;
              }
            }
        }
    }



    &--desktop-nav {
        &__links {
            margin: 0;
            li {
              margin-left: 15px;
              display: inline;
            }
            li:last-child {
              display: none;
            }
            a {
              color: #fff;
              &:hover {
                color: $nav-action-color;
              }
            }
        }
    }

    &--home {

        @media screen and (min-width: 700px) {
            width: 660px;
            margin: 0 auto;
        }

        &__links {
            width: 250px;
            display: flex;
            justify-content: space-around;
            margin: 0;
            @media screen and (min-width: 700px) {
                width: 100%;
                flex-direction: column;
                padding-left: 50px;
            }

            li {
                @media screen and (min-width: 700px) {
                    margin: 10px 0;
                }
            }

            li:last-child {
              display: none;
            }
        }
    }
}
