.c-menu {

    &--nav {
        &__links {
            list-style: none;
            margin: 10px 0;
            padding: 0;
            li {
              margin: 15px 0;
              font-size: 18px;
            }
            a {
              color: #fff;
              &:hover {
                color: $nav-action-color;
              }
            }
        }
    }

    &--home {

        @media screen and (min-width: 700px) {
            width: 660px;
            margin: 0 auto;
        }

        &__links {
            width: 250px;
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin: 0;
            padding: 0;
            @media screen and (min-width: 700px) {
                width: 100%;
                flex-direction: column;
                padding-left: 50px;
            }

            li {
               font-size: 18px;
                @media screen and (min-width: 700px) {
                    margin: 10px 0;
                }
            }

            li:last-child {
              display: none;
            }
        }
    }
}
