
.c-nav {
    background-color: #000;
    height: 100%;
    width: 0; /* 0 width - changes with Navigation component controller */
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 70px;
    transition: 0.5s; /* transition timing to slide in the nav */

    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 42px;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        svg {
          fill: #fff;
        }
        &:hover {
          svg {
            fill: $nav-action-color;
          }
        }

    }

    &__content {
      color: #fff;
      padding-left: $navigation-side-padding;
      padding-right: $navigation-side-padding;
    }

    &__footer {
      height: 150px;
      background-image: url('../../assets/img/nav_footer.png');
      border-right: 1px solid #000;

    }
}
