.c-social-media {
    &--home {
        @include align-items(center);
        @include display(flex);
        @include justify-content(space-between);
        margin: 20px 0;
        width: 250px;
        @media screen and (min-width: 700px) {
            width: 335px;
        }

        &__icon {
            width: 25px;
            @media screen and (min-width: 700px) {
                width: 30px;
            }

            &:hover svg {
                fill: lime;
            }

            &:first-child {
                @media screen and (min-width: 700px) {
                    padding-left: 50px;
                }
            }

            &:last-child {
                @media screen and (min-width: 700px) {
                    padding-right: 50px;
                }
            }
        }
    }
}
