.c-social-media {
    &--nav {
        @include align-items(center);
        @include display(flex);
        @include justify-content(space-between);
        min-width: 190px;
        margin-top: 30px;
        margin-bottom: 30px;



        &__icon {
          svg {
            fill: #fff;
            width: 32px;
            height: 32px;
          }

            &:hover svg {
                fill: $nav-action-color;
            }

            &:first-child {

            }

            &:last-child {

            }
        }
    }


    &--desktop-nav {
        @include align-items(center);
        @include display(flex);
        @include justify-content(space-between);
        width: 160px;
        margin-right: 15px;

        &__icon {
          svg {
            fill: #fff;
            width: 24px;
            height: 24px;
          }

            &:hover svg {
                fill: $nav-action-color;
            }

            &:first-child {

            }

            &:last-child {

            }
        }
    }

    &--home {
        @include align-items(center);
        @include display(flex);
        @include justify-content(space-between);
        margin: 20px 0;
        width: 250px;
        @media screen and (min-width: 700px) {
            width: 335px;
            float: left;
        }

        &__icon {
            width: 32px;
            height: 32px;

            &:hover svg {
                fill: $main-action-color;
            }

            &:first-child {
                @media screen and (min-width: 700px) {
                    padding-left: 50px;
                }
            }

            &:last-child {
                @media screen and (min-width: 700px) {
                    padding-right: 50px;
                }
            }
        }
    }
}
