<div class="c-social-media">
  <a class="c-social-media__icon" href="https://www.linkedin.com/in/julia-donaldson-67a59a9/">
    <object type="image/svg+xml" data="./assets/img/icons/linkedin.svg">LinkedIn</object>
  </a>
  <a class="c-social-media__icon" href="https://github.com/donaldsonjulia">
    <object type="image/svg+xml" data="./assets/img/icons/github.svg">GitHub</object>
  </a>
  <a class="c-social-media__icon" href="http://codepen.io/donaldsonjulia/">
    <object type="image/svg+xml" data="./assets/img/icons/codepen.svg">CodePen</object>
  </a>
  <a class="c-social-media__icon" href="https://twitter.com/username_juliaD">
    <object type="image/svg+xml" data="./assets/img/icons/twitter.svg">Twitter</object>
  </a>
</div>
