
.h-fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.h-fade.ng-enter,
.h-fade.ng-leave {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.h-fade.ng-enter {
    opacity: 0;
}
.h-fade.ng-enter-active {
    opacity: 1;
}
.h-fade.ng-leave {
    opacity: 1;
}
.h-fade.ng-leave-active {
    opacity: 0;
}
